<img src="./assets/logos/Logo_main.png" width=500></img>

# Amazon Athena
You will use Amazon Athena to monitor the performance of your model. Athena allows you to run SQL queries against data in s3, like the game archive data. You can see a example query by running the following command:

In [ ]:
!../bin/glue_info.sh

1. Go to the [Athena Console](https://console.aws.amazon.com/athena/home?region=us-east-1#query)
1. You will need to change your Athena workgroup. Select "working group". Then in the list select "GameDay" and then "switch workgroup".
<img src="./assets/athena-homepage.jpg" width=500></img> 
<img src="./assets/athena-workgroups.jpg" width=500></img> 
1. you are going to use the following query but you need to first get some values. You need the name of the Amazon Glue catalog that holds the game data and the s3 bucket where that data is stored. These values are given by the above command. Replace <Game-data-catalog> and <Game-data-bucket> with those values. so for example the line `FROM "<Game-data-catalog>"."<Game-data-bucket>"` will look something like `FROM "game-catalog-adafafdad"."game-archive-adfasdfasdf"`
1. Next replace the three occurances of <Team-Name> with your team name. For example, the line `WHEN winner = '<Team-Name>' THEN 1.0` becomes `WHEN winner = 'my-team' THEN 1.0`

```sql
SELECT type,
         sum(won)/(sum(won)+sum(lost)) as won,
         sum(lost)/(sum(won)+sum(lost)) as lost
FROM 
    (SELECT json_extract(session,'$.shootType') AS type,
        CASE
            WHEN winner = '<Team-Name>' THEN 1.0
            ELSE 0.0
        END AS won,
        CASE
            WHEN winner != '<Team-Name>' THEN 1.0
            ELSE 0.0
        END AS lost
    FROM 
        (SELECT teama.session AS session,
         teama.teamname AS team,
         winner
        FROM "<Game-data-catalog>"."<Game-data-bucket>"
        UNION
        SELECT teamb.session AS session,
         teamb.teamname AS team,
         winner
        FROM "<Game-data-catalog>"."<Game-data-bucket>" )
        WHERE team = '<Team-Name>' )
    GROUP BY  type
```

## Next Steps
try editing hyperparamters or the code to get better results