<img src="logos/Logo_layout.png" width=500></img>

## Introductions
You will be creating a model that creates the layout of ships at the begining of each game. The following will describe the rules of your endpoint and the following notebook will show the details of implementing your endpoint. This repo has code implementing a basic layout endpoint, it will choose 5 random points and then place another ship to the right of each of those 5 points. 

## Rules
<img src="diagrams/instructions_layout.png"></img>

### Request
- __opponent__: The name of the team you are playing against for this game
- __width & height__:the width and height of the game board. will not change during a gameday
- __rule set__:
    - __ship cells__: how many cells on the board that must be marked as ships
    - __connectedShipCells__: The minimum number of times two ship cells must be adjacent to each other, left/right or top bottom (not diaganol) 

### Response
- __Layout__:an array of arrays marking how you layed out your ships
    - __empty cell=0__: there is no ship here
    - __ship cell=1__: there is a ship here
- __session__: an arbitrary session state object to be passed along to the shooting endpoint

### Examples

<img src="diagrams/instructions_layout_examples.png"></img>

## Development
see [Endpoint Notebook](/notebooks/Layout.ipynb) for how to write, test, and deploy your model code

```sql
SELECT size,
         sum(won)/(sum(won)+sum(lost)) as won,
         sum(lost)/(sum(won)+sum(lost)) as lost
FROM 
    (SELECT json_extract(session,'$.size') AS size,
        CASE
            WHEN winner = 'jmc-test' THEN 1.0
            ELSE 0.0
        END AS won,
        CASE
            WHEN winner != 'jmc-test' THEN 1.0
            ELSE 0.0
        END AS lost
    FROM 
        (SELECT teama.session AS session,
         teama.teamname AS team,
         winner
        FROM "datacatalog-8ni0k5r4bwbi"."gameday_main_6_gamearchivebucket_1d2opwdtwva8r"
        UNION
        SELECT teamb.session AS session,
         teamb.teamname AS team,
         winner
        FROM "datacatalog-8ni0k5r4bwbi"."gameday_main_6_gamearchivebucket_1d2opwdtwva8r" )
        WHERE team = 'jmc-test' )
    GROUP BY  size
```

```sql 
SELECT type,
         sum(won)/(sum(won)+sum(lost)) AS won,
         sum(lost)/(sum(won)+sum(lost)) AS lost,
         count(*) as count
FROM 
    (SELECT json_extract(session,
         '$.type') AS type,
        CASE
        WHEN winner = 'jmc-2' THEN
        1.0
        ELSE 0.0
        END AS won,
        CASE
        WHEN winner != 'jmc-2' THEN
        1.0
        ELSE 0.0
        END AS lost
    FROM 
        (SELECT teama.session AS session,
         teama.teamname AS team,
         winner
        FROM "datacatalog-8ni0k5r4bwbi"."gameday_main_6_gamearchivebucket_1d2opwdtwva8r"
        UNION
        SELECT teamb.session AS session,
         teamb.teamname AS team,
         winner
        FROM "datacatalog-8ni0k5r4bwbi"."gameday_main_6_gamearchivebucket_1d2opwdtwva8r" )
    WHERE team = 'jmc-2' )
    GROUP BY  type
```